$bold-border: 2px solid black;
@mixin custom-button {
  color: black;
  border-radius: 10px;
  border: $bold-border;
  box-shadow: none;
  margin-left: 10px;
  text-transform: capitalize;
  background-color: lightgray;
}

.agent-type-selector {
  background-color: gray;
  color: white;
  padding: 10px;
  border-bottom: $bold-border;
  h4 {
    display: inline-block;
  }
  .custom-button {
    @include custom-button;
    &.active,
    &:hover {
      background-color: white;
    }
  }
}
